# [CptS 215 Data Analytics Systems and Algorithms](https://github.com/gsprint23/cpts215)
[Washington State University](https://wsu.edu)

[Gina Sprint](http://eecs.wsu.edu/~gsprint/)
# Pandas `DataFrame`

Learner objectives for this lesson:
* Learn about the `pandas` library
* Work with `Series`, `DataFrame`, and `Panel` objects

## Acknowledgments
Content used in this lesson is based upon information in the following sources:
* [Pandas website](http://pandas.pydata.org/)
* Python for Data Analysis by Wes McKinney

## `DataFrame`
`DataFrame` is a two dimensional labeled data structure. `DataFrame` has index (just like `Series`). Each `DataFrame` index value *maps* to a labeled `Series`. You can think of a `DataFrame` like an Excel spreadsheet, SQL table, or a dict of `Series` objects. The index represents the rows and the `Series` represents the columns. 

Like Series, DataFrame accepts many different kinds of input:
* Dictionary of 1D array-like objects (`ndarrays`, lists, dictionaries, or `Series`)
* 2-D `ndarray`
* Structured or record `ndarray`
* A `Series`
* Another `DataFrame`

### `DataFrame` from Lists
Let's expand our Washington city population `Series` example. Suppose we want to store the four most populated cities in Washington, Idaho, and Oregon. Let's declare dictionaries to store this new information. Then we will create a `DataFrame` to represent all three states' populations:

In [1]:
import pandas as pd

washington = ["Seattle", "Spokane", "Tacoma", "Vancouver"]
idaho = ["Boise", "Nampa", "Meridian", "Idaho Falls"]
oregon = ["Portland", "Eugene", "Salem", "Gresham"]
pops = [washington, idaho, oregon]
df = pd.DataFrame(pops)
print(df)

          0        1         2            3
0   Seattle  Spokane    Tacoma    Vancouver
1     Boise    Nampa  Meridian  Idaho Falls
2  Portland   Eugene     Salem      Gresham

Pandas stacks the nested list into a 2-dimensional `DataFrame`. By default, the index and columns are labeled as 0-based indices. Instead, we want to provide labels to help with indexing later:

In [2]:
import numpy as np
df = pd.DataFrame(pops, index=["WA", "ID", "OR"], columns=np.arange(1, len(washington) + 1))
print("Population DataFrame #1")
print(df)

Population DataFrame #1
           1        2         3            4
WA   Seattle  Spokane    Tacoma    Vancouver
ID     Boise    Nampa  Meridian  Idaho Falls
OR  Portland   Eugene     Salem      Gresham

### `DataFrame` from Dictionaries
Let's re-work the above example to build the `DataFrame` from dictionaries. This can be useful because the dictionary keys will be used for the `DataFrame` columns:

In [3]:
pops_dict = {"WA": washington, "ID": idaho, "OR": oregon}
df2 = pd.DataFrame(pops_dict)
print(df2)

            ID        OR         WA
0        Boise  Portland    Seattle
1        Nampa    Eugene    Spokane
2     Meridian     Salem     Tacoma
3  Idaho Falls   Gresham  Vancouver

We can then update the index to start at 1:

In [4]:
df2.index += 1
print("Population DataFrame #2")
print(df2)

Population DataFrame #2
            ID        OR         WA
1        Boise  Portland    Seattle
2        Nampa    Eugene    Spokane
3     Meridian     Salem     Tacoma
4  Idaho Falls   Gresham  Vancouver

Now, `df` (Population `DataFrame` #1) and `df2` (Population `DataFrame` #2) are the transpose of each other:

In [5]:
df2T = df2.T # transpose
# re-order
df = df.sort_index()
df2T = df2T.sort_index()
print(df)
print(df2T)
print(df == df2T)

           1        2         3            4
ID     Boise    Nampa  Meridian  Idaho Falls
OR  Portland   Eugene     Salem      Gresham
WA   Seattle  Spokane    Tacoma    Vancouver
           1        2         3            4
ID     Boise    Nampa  Meridian  Idaho Falls
OR  Portland   Eugene     Salem      Gresham
WA   Seattle  Spokane    Tacoma    Vancouver
       1     2     3     4
ID  True  True  True  True
OR  True  True  True  True
WA  True  True  True  True

What happens if the dictionaries used to create a `DataFrame` do not have the same keys? Just like with `Series`, the `DataFrame` index of unaligned columns will be the union of the keys.

In [6]:
washington = {"Seattle": 652405, "Spokane": 210721, "Bellevue": 133992, "Leavenworth": 1992}
idaho = {"Boise": 205671, "Nampa": 81557, "Coeur d'Alene": 44137, "Moscow": 23800}
oregon = {"Portland": 583776, "Eugene": 156185, "Hillsboro": 91611, "Corvallis": 54462}
pops = {"WA": washington, "ID": idaho, "OR": oregon}
df = pd.DataFrame(pops)
print(df)

                     ID        OR        WA
Bellevue            NaN       NaN  133992.0
Boise          205671.0       NaN       NaN
Coeur d'Alene   44137.0       NaN       NaN
Corvallis           NaN   54462.0       NaN
Eugene              NaN  156185.0       NaN
Hillsboro           NaN   91611.0       NaN
Leavenworth         NaN       NaN    1992.0
Moscow          23800.0       NaN       NaN
Nampa           81557.0       NaN       NaN
Portland            NaN  583776.0       NaN
Seattle             NaN       NaN  652405.0
Spokane             NaN       NaN  210721.0

### `DataFrame` from `ndarray`
As another example, let's create a `DataFrame` from random data stored in an `ndarray`:

In [7]:
from numpy.random import randn
rand_data = randn(3, 4)
rand_df = pd.DataFrame(rand_data, index=["a", "b", "c"], columns=["col1", "col2", "col3", "col4"])
print(rand_df)

       col1      col2      col3      col4
a  1.108062  0.670847  1.108137 -0.250980
b  0.183961 -1.714299 -0.739520 -0.319820
c  1.286052 -0.927832  1.650807  0.895659

### Working with Columns
You can treat a `DataFrame` semantically like a dictionary of like-indexed `Series` objects. Getting, setting, and deleting columns works with the same syntax as the analogous dictionary operations:

In [8]:
rand_data = randn(3, 4)
rand_df = pd.DataFrame(rand_data, index=["a", "b", "c"], columns=["col1", "col2", "col3", "col4"])
print(rand_df)

# index column
print(rand_df["col2"])
# update column
rand_df["col4"] = 100 # 100 is propogated to fill the column
print(rand_df)
# add columns (inserted at end)
rand_df["col5"] = rand_df["col1"] > rand_df["col2"]
print(rand_df)
rand_df["sum"] = rand_df.sum(axis="columns")
print(rand_df)
# add columns at location
rand_df.insert(2, "ones", 1)
print(rand_df)
# delete columns
del rand_df["col5"]
print(rand_df)
sum_ser = rand_df.pop("sum")
print(rand_df)
print("Popped column is a Series:")
print(sum_ser)

       col1      col2      col3      col4
a -0.013056 -0.718166  1.628721  1.705919
b -0.449616  0.158878  0.592754  0.000759
c  0.151376  0.967503 -0.941538 -0.499192
a   -0.718166
b    0.158878
c    0.967503
Name: col2, dtype: float64
       col1      col2      col3  col4
a -0.013056 -0.718166  1.628721   100
b -0.449616  0.158878  0.592754   100
c  0.151376  0.967503 -0.941538   100
       col1      col2      col3  col4   col5
a -0.013056 -0.718166  1.628721   100   True
b -0.449616  0.158878  0.592754   100  False
c  0.151376  0.967503 -0.941538   100  False
       col1      col2      col3  col4   col5         sum
a -0.013056 -0.718166  1.628721   100   True  101.897499
b -0.449616  0.158878  0.592754   100  False  100.302016
c  0.151376  0.967503 -0.941538   100  False  100.177341
       col1      col2  ones      col3  col4   col5         sum
a -0.013056 -0.718166     1  1.628721   100   True  101.897499
b -0.449616  0.158878     1  0.592754   100  False  100.302016
c  0.151376  0.967503     1 -0.941538   100  False  100.177341
       col1      col2  ones      col3  col4         sum
a -0.013056 -0.718166     1  1.628721   100  101.897499
b -0.449616  0.158878     1  0.592754   100  100.302016
c  0.151376  0.967503     1 -0.941538   100  100.177341
       col1      col2  ones      col3  col4
a -0.013056 -0.718166     1  1.628721   100
b -0.449616  0.158878     1  0.592754   100
c  0.151376  0.967503     1 -0.941538   100
Popped column is a Series:
a    101.897499
b    100.302016
c    100.177341
Name: sum, dtype: float64

### Indexing
From the [Pandas website](http://pandas.pydata.org/), the basics of indexing are as follows:

|Operation|Syntax|Result|
|-|-|-|
|Select column	|`df[col]`	|`Series`|
|Select row by label	|`df.loc[label]`|	`Series`|
|Select row by integer location	|`df.iloc[loc]`	|`Series`|
|Slice rows	|`df[5:10]`	|`DataFrame`|
|Select rows by boolean vector	|`df[bool_vec]`|	`DataFrame`|

In [9]:
rand_data = randn(3, 4)
rand_df = pd.DataFrame(rand_data, index=["a", "b", "c"], columns=["col1", "col2", "col3", "col4"])
print(rand_df)

# row indexing by label
print(rand_df.loc["b"])
# row indexing by location
print(rand_df.iloc[1])
# row slicing by location
print(rand_df[0:2])

       col1      col2      col3      col4
a  0.084633  0.604611  0.666690  0.043860
b -1.742362  1.355383  1.167826  0.491943
c  0.746066 -1.503622 -0.663647 -0.463522
col1   -1.742362
col2    1.355383
col3    1.167826
col4    0.491943
Name: b, dtype: float64
col1   -1.742362
col2    1.355383
col3    1.167826
col4    0.491943
Name: b, dtype: float64
       col1      col2      col3      col4
a  0.084633  0.604611  0.666690  0.043860
b -1.742362  1.355383  1.167826  0.491943

### Combining `DataFrame`s
Pandas supports many ways to combine `DataFrame`s together, including merging, joining, and concatenating. For simplicity, we will focus on concatenation with the `concat` function in the main Pandas namespace. 

Suppose we have three `DataFrame`s with the same column labels that we want to combine into a single `DataFrame`. We can use `pd.concat(<list of DataFrames>)` to combine them. The following example is from the Pandas documentation on [merging](http://pandas.pydata.org/pandas-docs/stable/merging.html):

In [10]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
'B': ['B0', 'B1', 'B2', 'B3'],
'C': ['C0', 'C1', 'C2', 'C3'],
'D': ['D0', 'D1', 'D2', 'D3']},
index=[0, 1, 2, 3])

df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
'B': ['B4', 'B5', 'B6', 'B7'],
'C': ['C4', 'C5', 'C6', 'C7'],
'D': ['D4', 'D5', 'D6', 'D7']},
index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
'B': ['B8', 'B9', 'B10', 'B11'],
'C': ['C8', 'C9', 'C10', 'C11'],
'D': ['D8', 'D9', 'D10', 'D11']},
index=[8, 9, 10, 11])

frames = [df1, df2, df3]
result = pd.concat(frames)
print(result.tail(2))
print(help(result.tail))

      A    B    C    D
10  A10  B10  C10  D10
11  A11  B11  C11  D11
Help on method tail in module pandas.core.generic:

tail(n=5) method of pandas.core.frame.DataFrame instance
    Returns last n rows

None

The resulting `DataFrame` is a combination is `df3` concatenated to the end of `df2`, which is concatenated to the end of `df1`:
![](http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_basic.png)
(image from [http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_basic.png](http://pandas.pydata.org/pandas-docs/stable/_images/merging_concat_basic.png))

### Viewing Large `DataFrame`s
In this class we will be working with some big `DataFrame`s. Pandas will output condensed `DataFrame`s using .... There are also object methods to view shortened or summarized `DataFrame` information:
* `describe()`: Generate various summary statistics, excluding NaN values
* `head(n=5)`: Returns first `n` rows 
* `tail(n=5)`: Returns the last `n` rows

In [11]:
print(result.describe())
print("\n")
print(result.head(n=2))
print("\n")
print(result.tail(n=2))

         A   B   C   D
count   12  12  12  12
unique  12  12  12  12
top     A8  B2  C5  D7
freq     1   1   1   1


    A   B   C   D
0  A0  B0  C0  D0
1  A1  B1  C1  D1


      A    B    C    D
10  A10  B10  C10  D10
11  A11  B11  C11  D11

### File I/O
With Pandas, we can easily write our data frames out to a csv (comma separated value) file to save for later use after our program terminates. The `DataFrame` method [`to_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_csv.html) write a data frame to a csv file. The rows and columns of the data frame will be the rows and columns of the csv file. 

For example, suppose we want to write to a file our example data frame we used to learn how to concatenate data frames together. We can do this in a one-liner:

In [12]:
fname = r"files\results_df.csv"
result.to_csv(fname)

If we open results_df.csv with Microsoft Excel, we see the following table:
<img src="https://raw.githubusercontent.com/gsprint23/cpts215/master/lessons/figures/results_df.png" width="400">

We can also load data from a csv file into a data frame. To do this, we use the [`read_csv()`](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) Pandas function:

In [13]:
df = pd.read_csv(fname)
print(df)
print(df.columns)

    Unnamed: 0    A    B    C    D
0            0   A0   B0   C0   D0
1            1   A1   B1   C1   D1
2            2   A2   B2   C2   D2
3            3   A3   B3   C3   D3
4            4   A4   B4   C4   D4
5            5   A5   B5   C5   D5
6            6   A6   B6   C6   D6
7            7   A7   B7   C7   D7
8            8   A8   B8   C8   D8
9            9   A9   B9   C9   D9
10          10  A10  B10  C10  D10
11          11  A11  B11  C11  D11
Index(['Unnamed: 0', 'A', 'B', 'C', 'D'], dtype='object')

However, we seem some less than desirable output. For example, the first column in the csv file is our index, but our data frame is creating and assigning a new index. We also have the extra column "Unnamed: 0". We can explicitly tell Pandas the first column is the index with the keyword `index_col`. It is also good to explicitly tell Pandas the first row is our header row and contains the column labels. We can do this with the keyword `header`.

In [14]:
# another attempt at reading in the csv data
df = pd.read_csv(fname, index_col=0, header=0)
print(df)
print(df.columns)

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11
Index(['A', 'B', 'C', 'D'], dtype='object')

## `Panel`
From the [Pandas website](http://pandas.pydata.org/):
>Panel is a somewhat less-used, but still important container for 3-dimensional data. The term panel data is derived from econometrics and is partially responsible for the name pandas: pan(el)-da(ta)-s. The names for the 3 axes are intended to give some semantic meaning to describing operations involving panel data and, in particular, econometric analysis of panel data. However, for the strict purposes of slicing and dicing a collection of DataFrame objects, you may find the axis names slightly arbitrary:
* items: axis 0, each item corresponds to a DataFrame contained inside
* major_axis: axis 1, it is the index (rows) of each of the DataFrames
* minor_axis: axis 2, it is the columns of each of the DataFrames

We will not officially cover `Panel`s at this point in the course. You are welcome to read up on them if you would like.

## Summary
We have covered quite a bit of information on Pandas, but we have only scratched the surface! I highly encourage you to read *Python for Data Analysis* by Wes McKinney and practice working with `Series` and `DataFrame` objects. Over the course of the semester we will learn new Pandas functionality as we go.